# THIS FILE IS MANAGED BY PUPPET
[Unit]
Description=Puma HTTP Server Accept Sockets

[Socket]
ListenStream=127.0.0.1:8080

# AF_UNIX domain socket
# SocketUser, SocketGroup, etc. may be needed for Unix domain sockets
# ListenStream=/run/puma.sock

# Socket options matching Puma defaults
NoDelay=true
ReusePort=true
Backlog=1024

[Install]
WantedBy=sockets.target
